* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* background-color: black; */
    /* background-color: rgb(18, 18, 18);
     */
     background-color: whitesmoke;
    /* margin: 0 70px; */
  }
  
  .navbar {
    display: flex;
    color:black;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 0; */
    height:100px;
    /* position:fixed; */
  border-bottom: 2px solid white;
  box-shadow: 12px 15px 15px rgb(224, 222, 222);
  
  }
  
  
  .navbar a {
    /* color: white; */
    text-decoration: none;
    font-size: 16px;  color:black;
  
    
  
  
  
  }
  
  .navbar ul li {
    display: inline-block;
  
    /* align-items: center;
    padding-left: 100px; */
  }
  
  .navbar a:hover {
    /* background-color: beige; */
    color: rgb(183, 207, 7);
    /* border: 1px white; */
    border-color: aqua;
    box-shadow: 2px 4px 16px white;
    border-radius: 10px;
  
  border-bottom: 2px solid green;
  
  }
  
  .navbar .item {
    padding: 10px;
    font-weight: bold;
    width: 40px;
    

  }
  
  .navbar .left {
    padding: 15px;
    font-weight: bold;
    color: rgb(23, 23, 34);
    
  
  }
  
  .left a h2:hover {
    border-bottom-style: double ;
  border-color: solid green;
  border-radius: 8px;
  width:100px;
    color: rgb(73, 107, 10);
    /* transform:translate(0,10px); */
    box-shadow: 10px 10px 10px 10px white;
    background-color: rgb(170, 240, 170);
    width: 130px;
  text-align: center;
  }
  
  
  /* navbar css end */
  .home {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .home .left {
    margin-left: 80px;
    /* background-color: rgb(233, 235, 236); */
    color: white;
    width: 650px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    /* border: 1px solid gray; */
    box-shadow: 5px 5px 10px 0 solid gray;
    color: black;
  }
  
  .home .left .btn-btn-outline {
    /* margin-top: 0px;  */
    border-radius: 10px;
    height: 10px;
    position: relative;
  
    width: 20px;
    padding: 10px;
    border: 1px solid rgb(217, 248, 79);
    box-shadow: 5px 5px 10px 0 rgb(247, 251, 54);
  }
  
  .home .left .btn-btn-outline:hover {
    background-color: rgb(217, 248, 79);
    color: rgb(77, 93, 7);
    border: 1px solid rgb(77, 93, 7);
    box-shadow: 5px 5px 10px 0 rgb(77,
        93, 7);
    font-weight: bold;
  }
  
  .home .right .img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
  
    /* background-color: yellow; */
  }
  
  .home .right .img img {
    height:450px;
    width: 300px;
    /* border-radius: 100%; */
    border: 5px solid rgb(61, 61, 56);
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    border-radius:20px 50px;
  }
  .home .right .img :hover{
    animation:super 5s infinite;
  }
  @keyframes move{
    50%{
      transform:rotate(20deg);
    }
  }
  .feed{
   font-size: 26px;

   font-family:monospace;
   font-weight: bold;
 
  }
  
  /* .home .right .img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 10px darkblue;
   } */
  @keyframes super {
    0% {
      border-color:rgb(214, 214, 238);
      transform: translate(0, 0px);
      box-shadow: 10px 10px 100px 50px rgb(214, 214, 238);
  
  
    }
  
    25% {
      border-color: rgb(200, 231, 200);
  
      box-shadow: 5px 5px 8px 5px rgb(194, 201, 194);
    }
  
    50% {
      border-color: rgb(241, 236, 241); 
       transform: translate(0, 10px);
      box-shadow: 5px 5px 8px 5px rgb(240, 223, 240);
    }
  
    75% {
      border-color: rgb(235, 235, 185);
  
      box-shadow: 5px 5px 8px 5px rgb(236, 236, 185);
    }
  
    100% {
      border-color: rgb(233, 209, 164);
      transform: translate(0, -0px);
      box-shadow: 10px 10px 10px 20px rgb(242, 241, 240);
    }
  } 
  
  /* about */
  .container .skill {
  
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px 8px 5px dark black;
    background-color: rgb(18, 18, 18);
    width: 1000px;
    margin-left: 150px;
  
  }
  
  /* .container .skill .logo img{
    height:200px;
    width:200px;
  }
  .container .skill .row .col{
    display: flex;
    justify-content: space-between;
  
  } */
  .container .skill h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    border-radius: 20px;
    margin-bottom: 50px;
    animation-name: heading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 40px;
    background-color: whitesmoke;
  
  
  }
  .card .title{
    color:white;
    
  }
  /* 
  @keyframes heading {
    0% {
      border-color: rgb(106, 234, 246);
      transform: translate(0, 0px);
      box-shadow: 10px 10px 50px 50px rgb(106, 234, 246);
      ;
  
  
    }
  
    25% {
      border-color: aquamarine;
      background-color: aquamarine;
      box-shadow: 10px 10px 50px 50px aquamarine;
  
  
    }
  
    50% {
      border-color: navy;
      background-color: navy;
      transform: translate(0, 5px);
      box-shadow: 10px 10px 50px 50px navy;
  
    }
  
    75% {
      border-color: rgb(106, 234, 246);
      background-color: rgb(106, 234, 246);
      box-shadow: 10px 10px 50px 50px rgb(106, 234, 246);
      ;
  
    }
  
    100% {
      border-color: rgb(61, 8, 114);
      background-color: blueviolet;
      transform: translate(0, -0px);
      box-shadow: 10px 10px 100px 50px rgb(61, 8, 114); 
  
    }
  }*/
  
  .card img {
    height: 90px;
    width:90px;
    margin: 10px;
    border-radius: 10px;
    background-color: black;
  }
  
  .cards  {
    display: flex;
    justify-content: space-between;
  
  
  
  }
  
  .card {
    border-radius: 10px solid rgb(17, 17, 17);
    margin: 10px;
    border-radius: 20px;
    background-color:dark black;
    
    /* box-shadow: 10px 10px 10px 10px rgb(114, 116, 114); */
  }
  
  /* .card img:hover {
    transform: translate(0, -10px);
    box-shadow: 10px 10px 10px 10px rgb(50, 51, 51);
    background-color: rgb(250, 250, 244);
    color: white;
  } */
  
  /* contact me */
  .container .contact {
  
    margin-left: 150px;
  
    display: flex;
    margin-top: 70px;
  background-color:navajowhite;
  height:400px;
  width:75%;
  border-radius: 20px;
  }
  
  .container .contact .left {
    /* margin: 40px; */
    /* background-color: rgb(181, 200, 217); */
    color: white;
    width: 400px;
    /* text-align: center; */
    padding: 30px;
  
  
  }
  .left p{
    margin:10px;
    margin-top: 20px;
  
  }
  
  .container .contact .right {
    display: flex;
    margin-left: 0px;
    border-radius: 20px;
    background-color: aliceblue;
    height: 300px;
    margin-top: 20px;
    margin-right: 30px;
  }
  
  .container .contact .form {
    margin: 20px;
    padding: 10px;
    width:400px;
  
  
  }
  .container .contact .form .form-control{
    padding:3px;
    border-radius: 10px;
    margin-left:20px;
  
  
  }
  .label{
  margin-left:0;
  font-weight:bold;
  }
  .form h2{
    text-align:center ;
    margin-bottom: 10px;
  
    
  }
  .form .btn{
    padding:10px;
    align-items: center;
    border-radius: 10px;
    width:70px;
    margin-left: 90px;
  
  }
  .form .btn:hover{
  background-color: rgb(7, 27, 20);
  color:white;
  }
  .left p{
    font-weight:400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
  }
   .head{
    color:white;
    text-align: center;
  margin-bottom:50px;
  margin-left:40px;
  }
  .container .about{
    color:white;
  }
  .aimg{
    height:30px;
    width:30px;
  
  }
  .about{
    margin-left: 150px;
    height:fit-content;
    width:1000px;
    background-color: rgb(42, 97, 146);
    margin-top: 60px;
    border-radius: 20px;
    padding:50px;
    display:flex
    
  }
  
  .name p{
    font-size:26px;
    color:gray;
    
  
  }
  .righty{
    margin-left:250px;
  }
  
  .lefty img{
    height: 400px;
    width:350px;
    border-radius:10px;
    
  }
  .footer{
    background-color:rgb(34, 33, 33);
    height:350px;
    color:white;
    margin-top: 20px;
  }
  .contain{
    display: flex;
    margin-left:400px;
    /* margin-top:500px; */
    
  
  }
  .pic{
   
    margin:30px;
  }
  .pic img{
    margin-top:100px; 
    height: 40px;
    width:40px;
  }
  .im{
    border: 2px dark rgb(252, 244, 244);
    border-radius: 10px;
    background-color: rgb(248, 245, 245);
  }
  .dot{
    display: flex;
    border-bottom: 2px solid black;
    border-style: outset;
  }
  .heading{
    font-size: 28px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left:40px;
    
    padding-top: 30px;
  }